//left column with right content
<div class="left w300" id="leftblocks">
</div>

<div class="right w600" id="rightblocks">
                <div class="infobox">
                                
                </div>
</div>

//right column with left content
<div class="left w600" id="leftblocks">
<div class="infobox">
                                
                </div>
</div>

<div class="right w300" id="rightblocks">
                
</div>

//full page as box
<div class="box fit">
	<div class="infobox">
	<div class="box">
	

	</div>
	</div>
</div>